@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: lightgray;
}

header{
    background-color: rgb(148, 148, 148);
}

header h1{
    text-align: center;
    padding: 10px;
}

menu{
    display: block;
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    text-align: center;
    color: white;
    border-top: 2px solid gray;
}

i#burguer{
    display: block;
    background-color: rgb(48, 48, 48);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    
}



article h2{
    padding-bottom: 20px;
}

article > p{
    text-indent: 10px;
    text-align: justify;
    margin-bottom: 20px;

}